@charset "UTF-8";
.LinkCo{ /*遷移先全般*/
    text-align: center;
    font-size: 32px;
    font-weight: bold;
    font-family: '游明朝体+36ポかな','YuMincho +36p Kana','Meiryo UI',sans-serif;
    color: #000;
    margin: 16px;
}

.header{ /*ヘッダー全般*/
    text-align: right;
}

.footer{ /*フッター全般*/
    padding: 15px 10px;
    text-align: right;
}

.btn{ /*ボタンのようなリンク*/
    display: inline-block;
    text-decoration: none;
    color: #000;
    text-align: center;
    vertical-align: top;
    width: 180px;
    border:2px solid #000;
    margin: 0 auto 5px;
    padding: 5px 0 10px;
}

.copy{ /*コピーライト*/
    padding: 5px 5px;
    font-size: 1.0rem;
    vertical-align: bottom;
}