@charset "UTF-8";
html , body{
    font-family: 'Segoe Script','MS P明朝','MS PMincho',sans-serif;
    background-image: url("../img/Sahara-Beige.png");
    background-size: cover;
    height:100%;
}

#content_area{
    position: absolute;
    top: 20vw;
    width: 100vw;
    height: 100vw;
}

.gazo{
    position: relative;
    object-fit: contain;
    width: 10vw;
    height: 10vw;
}

#menu{
    position: fixed;
    width: 8vw;
    opacity: 0.75;
    top: 1.5vw;
    left: 2vw;
    z-index: 6;
}
#sideBar{
    position: fixed;
    width: 0%;
    top: 0%;
    left: 0%;
    height: 100vh;
    background-color: white;
    z-index: 5;
  
}
.Link{
    display: none;
    position: relative;
    left: 1vw;
    text-decoration-line: none;
    font-size: 2vw;
    color: black;
}
#hoLink{
    top: 8vw;
}

#seLink{
   top: 12vw;
}

#geLink{
    top: 16vw;
}

.menuOpen{
    animation: menuOpen 1.0s ease 0.0s 1 normal;
}
.menuClose{
    animation: menuClose 1.0s ease 0.0s 1 normal;
}
@keyframes menuOpen {
    0% {width: 0%;}
    100% {width: 20%;}
  }
  @keyframes menuClose {
    0% {width: 20%;}
    100% {width: 0%;}
  }