@charset "UTF-8";

html , body{
    font-family: 'Segoe Script','MS P明朝','MS PMincho',sans-serif;
    background-image: url("KiuKiuYukai.github.io/assets/img/Sahara-Beige.png");
    background-size: cover;
    height:100%;
}

#illust{
    position:relative;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
}

#picture{
    background-color: darkgray;
    position: absolute;
    width: 43.2vw;
    height: 43.2vw;
    top: 32vw;
    object-fit: contain;
    z-index: 1;
}

#flame{
    top: 7vw;
    width: 60%;
    position: absolute;
    z-index: 2;
}

#gakubuti{
    position: absolute;
    width: 50%;
    top:29vw;
    z-index: 2;
}

#ka-ten{
    position: absolute;
    top: 27vw;
    width: 70%;
    z-index: 3;
}
#data{
    position: absolute;
    top: 79vw;
    font-size: 2vw;
    text-decoration: underline;
}
#comment{
    position: absolute;
    top:82vw;
    font-size: 2vw;
}

.ichiran_btn {
    position: absolute;
    top: 85vw;
    border-radius: 2vw;
    display: inline-block;
    width: 15vw;
    line-height: 3vw;
    text-align: center;
    text-decoration: none;
    color:cornsilk;
    background-color:brown;
  }
  .ichiran_btn a {
    font-size: 1.5vw;
    display: inline-block;
    width: 8vw;
    line-height: 6vw;
    text-align: center;
    text-decoration: none;
    color:cornsilk;
    background-color:brown;
    position: relative;
  }
  .ichiran_btn a::before {
    border-right: 2px solid cornsilk;
    border-top: 2px solid cornsilk;
    bottom: 0;
    content: "";
    height: 1vw;
    width: 1vw;
    margin: auto;
    position: absolute;
    right: -0.5vw;
    top: 0;
    transform: rotate(45deg);
    transition: right .3s;
  }
  .ichiran_btn a:hover::before {
    right: -1.5vw;
  }

#illust_text{
    position: absolute;
    color:cornsilk;
    top: 13vw;
    font-size:5vw;
    z-index: 4;
  }

  .fade{
    animation: fadeIn 1.3s ease 0.0s 1 normal;
  }
  @keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
  }

#menu{
    position: fixed;
    width: 8vw;
    opacity: 0.75;
    top: 1.5vw;
    left: 2vw;
    z-index: 6;
}
#sideBar{
    position: fixed;
    width: 0%;
    top: 0%;
    left: 0%;
    height: 100vh;
    background-color: white;
    z-index: 5;
  
}
.Link{
    display: none;
    position: relative;
    left: 1vw;
    text-decoration-line: none;
    font-size: 2vw;
    color: black;
}
#hoLink{
    top: 8vw;
}

#seLink{
   top: 12vw;
}

#geLink{
    top: 16vw;
}

.menuOpen{
    animation: menuOpen 1.0s ease 0.0s 1 normal;
}
.menuClose{
    animation: menuClose 1.0s ease 0.0s 1 normal;
}
@keyframes menuOpen {
    0% {width: 0%;}
    100% {width: 20%;}
  }
  @keyframes menuClose {
    0% {width: 20%;}
    100% {width: 0%;}
  }




